*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{    
    display: flex;
    justify-content: center;
    height: 80px;    
}
.fixed{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #000;
    width: 100vw;
    height: 80px;
}
.container{
    width: 990px;
    display: flex;
    justify-content: space-between;        
}
.logo {
    display: flex;
    align-items: center;    
}
.menu {
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    display: inline-block;
}
nav ul a{
    text-decoration: none;
    text-transform: uppercase;
    color: #e78200;
    padding: 10px;
}
nav ul a:hover{
    background-color: #e78200;
    color: #fff;
    border-radius: 5px;
}
#banner{
    display: flex;
    justify-content: center;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;    
}
.column{
    flex-direction: column;    
}
.title_princ{
    display: flex; 
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    height: 670px;
}
.ini_title{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.ini_title h1{
    font-size: 80px;    
    color: #e78200;
}
.botao{
    background-color: #e78200;
    color: #fff;
    width: 282px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 5px;   
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
#servicos{
    display: flex;
    justify-content: center;
    height: 626px;
}
.serv_title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.serv_title h1{
    margin-top: 50px;
    font-size: 50px;
    color: #000;
}
.serv_options{
    display: flex;
    height: 300px;
}
.banner1,
.banner2,
.banner3{
    flex: 1;
}
.banner1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: deepskyblue;
}
.banner2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: cadetblue;
}
.commerce{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e78200;
    margin-bottom: 10px;
}
.banner_title{
    font-size: 21px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner_desc{
    color: #000;
    font-size: 14px;
}



#portfolio{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: turquoise;
}








@media (max-width: 425px){
    .menu{
        display: none;
    }
    .ini_title h1{
        font-size: 54px;    
        text-align: center;
    }
    .botao{
        width: 162px;
        height: 45px;
        font-size: 13px;
    }
    .serv_options{
        flex-direction: column;
    }
    .serv_options{
        height: auto;
    }
}